<h3>
  This website lets you easily track statistics in games with 2 dice, such as Settlers of Catan.
</h3>

<div id="user_nav">
	<% if current_user && !current_user.is_guest? %>
    Welcome, <%= current_user.name %>
		<%= link_to "Sign Out", signout_path %>
	<% else %>
		Log in with an existing account to access your game history:<br />
  	<%= link_to "Facebook", "/auth/facebook", :class => 'btn btn-primary' %> &nbsp;
  	<%= link_to "Google", "/auth/google_oauth2", :class => 'btn btn-danger' %>
<br /><br />
		Or track your games publicly:
		<br />
		<%= link_to "New Game", "home/new_game", :method => "get", :class => 'btn btn-default' %>
	<% end %>
</div>
