<h1>Catan Count</h1>
This website lets you easily track statistics in games with 2 dice, such as Settlers of Catan.
<div id="user_nav">
 	<% if current_user %>
    Welcome, <%= current_user.name %>
		<%= link_to "Sign Out", signout_path %>
	<% else %>
		Log in with an existing account to access your game history:<br />
  	<%= link_to "Facebook", "/auth/facebook" %> &nbsp;
  	<%= link_to "Google", "/auth/google_oauth2" %>
<br /><br />
		Or track your games publicly:
		<br />
		<%= link_to "New Game", "home/new_game", :method => "get" %>
	<% end %>
</div>