<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
	<head>
		<title>
			CatanCount
		</title>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%#= javascript_include_tag "application" %><%= csrf_meta_tags %>
		<script type="text/javascript">
			$(document).ready(function(){
				expectedSeries = <%= raw @expected_series.to_json %>;
				actualSeries = <%= raw @actual_series.to_json %>;

				chart = drawChart(
          actualSeries,
          expectedSeries
        ); 
			});
		</script>
	</head>
	<body>
					
		<h3>
			Game name: <%= raw @game.game_name %>
		</h3>
	  <div id="chart" style="width:95%; padding-left: 10px"></div>
		<p>
			Enter dice roll:<br>
		</p>
		<div class="row">
      <div class="col-sm-11">
      	<% for i in 2..12 %>
      		<% css_class = i == 2 ? 'col-sm-1 col-sm-offset-1' : 'col-sm-1' %>
	        <div class="<%= css_class %>">
						<%= link_to i.to_s, game_rolls_path(@game, :value => i), method: :post, class: "btn btn-info btn-large dice-roll", remote: true, data: { value: i } %>
	        </div>
   			<% end %>
      </div>
    </div> <!-- end dice roll buttons row -->
		
		<% if @rolls.length > 0 %>
		<div>
			<b><%= @game.rolls.count %></b> total rolls for this game. Recent rolls:
		</div>
		<table>
			<tr>
				<% @rolls.each do |roll| %>
				<td class="roll_table_cell left_padded">
					<%= roll.total %>
				</td>
				<td class="delete_roll">
					<%= link_to image_tag('delete.png', :height => '23',:class => 'delete_roll'), game_roll_path(@game, roll), method: :delete %>
				</td>
				<% end %>
			</tr>
		</table>

		<% if @game.rolls.length > 5 %>
			<p>
				<br/>
				 View more rolls: <%= will_paginate @rolls %> 	
			</p>
		<% end %>
		<% end %>

	</body>
</html>
