<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
	<head>
		<title>
			CatanCount
		</title>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%#= javascript_include_tag "application" %><%= csrf_meta_tags %>
		<script type="text/javascript">
			$(document).ready(function(){
				expectedSeries = <%= raw @expected_series.to_json %>;
				actualSeries = <%= raw @actual_series.to_json %>;

				chart = drawChart(
          actualSeries,
          expectedSeries
        ); 
			});
		</script>
	</head>
	<body>
		<% content_for :main_menu do %>
			<%= render :file => 'layouts/main_menu' %>
		<% end %>

		<% if !@game.game_name.blank? %>
			<h3 class='game-title'>
				<%= @game.game_name %>
			</h3>
		<% end %>

		<% if @game.rolls.count < 1 %>
			<div id="enter-dice-roll">
				Enter dice roll:
			</div>
		<% end %>
		<div class="row">
      <div class="col-sm-11">
      	<% for i in 2..12 %>
      		<% css_class = i == 2 ? 'col-sm-1 col-sm-offset-1' : 'col-sm-1' %>
	        <div class="<%= css_class %>">
						<%= link_to i.to_s, game_rolls_path(@game, :value => i), method: :post, class: "btn btn-info btn-large dice-roll", remote: true, data: { value: i } %>
	        </div>
   			<% end %>
      </div>
    </div> <!-- end dice roll buttons row -->


	  <div id="chart" style="width:95%; padding-left: 10px"></div>
		
		<% if @game.rolls.length > 0 %>
			<div>
				<b><%= @game.rolls.count %></b> total rolls for this game. Recent rolls:
			</div>
			<table>
				<tr>
					<% @game.rolls.each do |roll| %>
					<td class="delete-roll left_padded">
						<%= link_to game_roll_path(@game, roll), method: :delete, :class => 'btn btn-default' do %>
							<%= roll.total %><span class="glyphicon glyphicon-remove"></span>
						<% end %>
					</td>
					<% end %>
				</tr>
			</table>

		<% end %>

	</body>
</html>
