<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
	<head>
		<title>
			CatanCount
		</title>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%#= javascript_include_tag "application" %><%= csrf_meta_tags %>
		<script type="text/javascript">
			$(document).ready(function(){
				expectedSeries = <%= raw @expected_series.to_json %>;
				actualSeries = <%= raw @actual_series.to_json %>;

				chart = drawChart(
          actualSeries,
          expectedSeries
        );

        <% if @game.rolls.count < 1 %>
					$('#recent-rolls-div').hide();
				<% end %>
			});
		</script>
	</head>
	<body>
		<% content_for :main_menu do %>
			<%= render :file => 'layouts/main_menu' %>
		<% end %>

		<% if @game.rolls.count < 1 %>
			<div id="enter-dice-roll">
				Enter dice roll:
			</div>
		<% end %>
		<div class="row">
      <div class="col-sm-11">
      	<% for i in 2..12 %>
      		<% css_class = i == 2 ? 'col-sm-1 col-sm-offset-1' : 'col-sm-1' %>
	        <div class="<%= css_class %>">
						<%= link_to i.to_s, game_rolls_path(@game, :value => i), method: :post, class: "btn btn-info btn-large dice-roll", remote: true, data: { value: i } %>
	        </div>
   			<% end %>
      </div>
    </div> <!-- end dice roll buttons row -->

	  <div id="chart" style="width:95%; padding-left: 10px"></div>

		<div id='recent-rolls-div'>
			<div id='recent-rolls-header'>
				<%= pluralize @game.rolls.count, 'roll' %> for this game:
			</div>
			<div id='rolls-history'>
				<% @game.rolls.each do |roll| %>

					<% if roll != @game.rolls.last %>
						<%= roll.total %>,
					<% else %>
						<%= roll.total %>
					<% end %>
				<% end %>
			</div>

			<%= link_to "Undo last roll?", undo_last_roll_path(@game), method: :delete, id: "undo-last-roll", :class => 'btn btn-danger', remote: true %>
		</div>


	</body>
</html>
