<h1>Listing rolls</h1>

<table>
  <tr>
    <th>Game number</th>
    <th>Dice1</th>
    <th>Dice2</th>
    <th>Total</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @rolls.each do |roll| %>
  <tr>
    <td><%= roll.game_number %></td>
    <td><%= roll.dice1 %></td>
    <td><%= roll.dice2 %></td>
    <td><%= roll.total %></td>
    <td><%= link_to 'Show', roll %></td>
    <td><%= link_to 'Edit', edit_roll_path(roll) %></td>
    <td><%= link_to 'Destroy', roll, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Roll', new_roll_path %>
