<head>
  <title>CatanCount</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>

	<script type="text/javascript">
    $(document).ready(function(){ 
        drawChart(
          <%= @actual_series %>,
          <%= @expected_series %>
        ); });
	</script>
</head>
<body>
	<h1>Game ID: <%= raw @game_id %> </h1>
  <div id="chart" style="width:95%; padding-left: 10px"></div>

	<%= render 'form' %>
	
	<br /><br /><br />
	<b><%= @rolls.count %></b> total rolls for this game. Recent rolls:
	<table>
	  <tr>
  		<% @rolls.each do |roll| %>
					<td class="roll_table_cell left_padded"><%= roll.total %></td>
		    <td class="delete_roll"><%= link_to image_tag('delete.png', :height => '23',:class => 'delete_roll'), roll, method: :delete %></td>
			<% end %>
	  </tr>
	</table>
	<br />
	View more rolls:
	<%= will_paginate @rolls %>

</body>
</html>
