<p id="notice"><%= notice %></p>

<p>
  <b>Game number:</b>
  <%= @roll.game_id %>
</p>

<p>
  <b>Total:</b>
  <%= @roll.total %>
</p>


<%= link_to 'Edit', game_roll_path(@game, @roll) %> |
<%= link_to 'Back', game_path(@game) %>
